<div class="col-5">
    <label>Main Text</label>
    <input type="text" id="main-text" class="form-control mb-3" />
    <label>Description Text</label>
    <input type="text" id="description-text" class="form-control mb-3" />
    <div class="custom-control custom-switch mb-3">
        <input type="checkbox" class="custom-control-input" id="dark-mode">
        <label class="custom-control-label" for="dark-mode">Dark mode</label>
    </div>
    <label>Background Color</label>
    <div id="gp"></div>
    <input type="hidden" class="form-control mb-3" id="background-color" />
    <button class="btn btn-warning m-0 mt-5" type="submit">Save Changes</button>
</div>

<div class="col-5">
</div>
