/* Colors */
$orange-ultipay: #ff8a00;
$custom-grey: #f0f0f0;
$custom-grey-text: #666666;
$font-def: #fff;
$font-grey: #747b84;
$blue: #007bff !default;
$black: #000 !default;
$body-bg: #212529;
$body-bg2: #2D3136;
$color-placeholder: rgba(255, 255, 255, .5);
$color-placeholder-focus: rgba(255, 255, 255, .75);
$bg-nav-link: $body-bg2;

/* Shadows */
$container-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
$box-shadow: 0 .5rem 1rem rgba($black, .06) !default;
