<!-- <link rel="stylesheet" href="public/assets/css/ext_custom.css" /> -->
<!-- container-login *** div element class name -->

<img src="public/assets/img/ultipay_logo.png" class="title-img m-0 mx-auto" />
<div class="title-text">
    <h1 class="font-weight-bold">Sign In</h1>
    <h3>Ultimate <span id="loginTitle" class="text-capitalize">Dashboard</span></h3>
</div>

<div id="onKeyPress" class="my-5 py-3">
    <input type="text" id="email" class="rounded font-weight-light w-100 mb-4 shadow" value="admin3@usahakreatif.co.id" placeholder="Email" autocomplete="off" />
    <input type="password" id="password" class="rounded font-weight-light w-100 mb-4 shadow" value="admin123" placeholder="Password" />
</div>

<div class="mb-3 d-flex align-items-center justify-content-between">
    <button id="login" class="btn btn-dark rounded m-0 font-weight-normal shadow waves-effect">Sign In</button>
    <p class="m-0">Don't have an account? <span class="cursor-pointer link" onclick="getPage(this)" data-target="register">Register</span></p>
</div>
